body.naruto{
  	margin: 0;
  	height: 100vh;
  	display: flex;              
  	justify-content: center;    
  	align-items: center;        
  	background: linear-gradient(to right, #f39c12, #e74c3c);
  	font-family: 'Cardo', serif;
}

body.sasuke{
  	margin: 0;
  	height: 100vh;
  	display: flex;               
  	justify-content: center;     
  	align-items: center;         
    background: linear-gradient(to right, #1a152d, #2b2547, #1b1533);
	color: whitesmoke;
  	font-family: 'Cardo', serif;
}

body.kakashi {
    margin: 0;
    height: 100vh;
    display: flex;                
    justify-content: center;      
    align-items: center;          
  	background: linear-gradient(to right, #5b6670, #7a8791, #4a5760);
  	color: #222;
    font-family: 'Cardo', serif;
}

body.sakura {
    margin: 0;
    height: 100vh;
    display: flex;                
    justify-content: center;      
    align-items: center;          
    background: linear-gradient(to right, #f8a5c2, #f7d1cd, #f4a1b8);
    color: #4b2e3b;              
    font-family: 'Cardo', serif;
}


body.naruto .card {
  	height: 360px;
  	width: 550px;
  	background-color: #ee922d;
  	border-radius: 15px;
  	border: 3px solid black;
  	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

  	background-image: repeating-linear-gradient(
    	45deg,
    	rgba(255, 255, 255, 0.05),
    	rgba(255, 255, 255, 0.05) 10px,
    	transparent 10px,
    	transparent 20px
  	);
}

body.sasuke .card {
    height: 360px;
    width: 550px;
  	background-color: #2d2546;
  	border: 3px solid #3f3a5a;  
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);

    background-image: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05) 10px,
        transparent 10px,
        transparent 20px
    );
}

body.kakashi .card {
    height: 360px;
    width: 550px;
  	background-color: #7a8791;
  	border: 3px solid #5e6973;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);

    background-image: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.07),
        rgba(255, 255, 255, 0.07) 12px,
        transparent 12px,
        transparent 24px
    );
}

body.sakura .card {
	color:#1f1930;
    height: 360px;
    width: 550px;
    background-color: #d38cae;  
    border: 3px solid #e6b7c4;  
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(179, 81, 113, 0.6); 

    background-image: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.12),
        rgba(255, 255, 255, 0.12) 12px,
        transparent 12px,
        transparent 24px
    );
}


body.naruto .header{
	position: relative;
	margin: 0;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	background-color: #e77012;
	height: 70px;
	display: flex;   
	padding: 0 25px;
  	align-items: center;      
	border-bottom: 3px solid #000000;   
}

body.sasuke .header {
    position: relative;
    margin: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 70px;
    display: flex;  
    padding: 0 25px;
    align-items: center;         
	background-color: #1b1533;
  	border-bottom: 3px solid #0e0b1a;
}

body.kakashi .header {
    position: relative;
    margin: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 70px;
    display: flex;             
    padding: 0 25px;
    align-items: center;         
  	background-color: #4a5760;
  	border-bottom: 3px solid #394550;
}

body.sakura .header {
    position: relative;
    margin: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #c17892;  
    height: 70px;
    display: flex;              
    padding: 0 25px;
    align-items: center;         
    border-bottom: 3px solid #a05a70;   
}



.header .logo {
  	max-width: 45px;
}

.header h1{
  	position: absolute;
  	left: 50%;
  	transform: translateX(-50%);
  	color: whitesmoke;
  	margin: 0;         
}

.content {
  	display: flex;               
  	padding: 20px;              
  	gap: 20px;                   
}

.content .photo{
	height: 200px;
	width: 150px;
	border: 3px solid black;
	border-radius: 10px;
	transition: transform 0.3s ease;
  	cursor: pointer;
}

.content .photo:hover {
  	transform: scale(1.05);
}

.info {
  	display: flex;
  	flex-direction: column;   
  	justify-content: center;  
	margin-left: 15px;
	font-weight: 700;
  	letter-spacing: 1.2px;
}

.info h2 {
  	margin: 0;
  	font-size: 24px;

}

.info p {
  	margin: 3px 0 0;
  	font-size: 20px;
  	font-style: italic;
  	opacity: 0.85;
}

body.naruto .info button {
    border-radius: 20px;
    margin: 10px;
    padding: 5px 15px;
    font-style: italic;
    background-color: #e77012;
    color: white;
    font-size: large;
    transition: transform 0.5s ease, background-color 0.3s, color 0.3s;
    border: 2px solid black;
}

body.naruto .info button:hover {
    background-color: white;
    color: #e74c3c;
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s, color 0.3s;
}


body.sasuke .info button {
    border-radius: 20px;
	border: 2px solid black;
    margin: 10px;
    padding: 5px 15px;
    font-style: italic;
    background-color: #1b1533;  
    color: whitesmoke;
    font-size: large;
    transition: transform 0.5s ease, background-color 0.3s, color 0.3s;
}

body.sasuke .info button:hover {
    background-color: whitesmoke;
    color: #1b1533;
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s, color 0.3s;
}

body.kakashi .info button {
    border-radius: 20px;
    margin: 10px;
    padding: 5px 15px;
    font-style: italic;
    background-color: #4a5760;
    color: #e1e4e8;
    font-size: large;
    transition: transform 0.5s ease, background-color 0.3s, color 0.3s;
    border: none;
}

body.kakashi .info button:hover {
    background-color: #a3b1c2;
    color: #4a5760;
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s, color 0.3s;
}

body.sakura .info button {
    border-radius: 20px;
    margin: 10px;
    padding: 5px 15px;
    font-style: italic;
    background-color: #c17892;    
    color: white;
    font-size: large;
    transition: transform 0.5s ease, background-color 0.3s, color 0.3s;
    border: 2px solid #9e3d6f;  
}

body.sakura .info button:hover {
    background-color: white;
    color: #c17892;               
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s, color 0.3s;
}

.flip-card {
  perspective: 1000px;
  transform: translateY(-30px);
}

.flip-card-inner {
  width: 550px;
  height: 330px;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.kunai-left{
	height: 50px;
	margin-top: 420px;
	margin-left: 10px;
	margin-right: 120px;

}

.kunai-right{
	height: 50px;
}

.alert-message {
  position: fixed;
  top: 20px;
  left: 100%;  
  transform: translateX(0);  
  width: 500px;
  padding: 15px 25px;
  font-size: 25px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease, left 1s ease;
  z-index: 9999;
}

.alert-message.show {
  left: 50%;
  transform: translateX(-50%);
}
